*{
    margin: 0px;padding: 0px;
}
body{
    background-image: url("img.png");
}

.left_bar{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 30px;
    opacity:1;
}
#first{
    margin-left:30px;
}
.right_bar{
    display: flex;
    margin-top: -30px;
    margin-right: 100px;
    font-size: 30px;
    justify-content: right;
}
#two{
    margin-left: 30px;
}
.id_login{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}
.Passward_login,.login_Button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
input,.main_login{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border:1px solid cornflowerblue;
    text-align: center;
}
contant>.login_Button>.main_login{
    background:indianred;
    color: white;
}
ul{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
li{
    list-style: none;

}
li>button{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    border:1px solid indianred;
    background-color: white;
    font-size: 1pt;

}

button:hover{
    background-color: #eaa2a2;
}
input:focus{
    background-color: #eaa2a2;
    color: black;
}